header{
    /*background-color:#f8f9fc;*/ /*LIGHT MODE*/
    background-color: #1d1d1f;
    height: 150px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;*/ /*APPLE FONT*/
    font-weight: 1000;
    font-size: 50px;
    color: #a1a1a6;
    /*color: white;*/ /*LIGHT MODE*/
    padding-bottom: 30px;
}

.h1_IA {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 50px;
    padding-bottom: 30px;
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
}

body {
  /*background-color: white;*/ /*LIGHT MODE*/
  background-color: black;
}

.studia{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 680px;
    margin-bottom: 100px;
}

.title_que_somos {
  margin-left: 10px;
  background: radial-gradient(#eff1ff,black 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 120% 120%;
}
/*PACK 1*/
.body_que_somos1 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
  padding-left: 50%;
}

.body_que_somos1_1 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
}

/*PACK 2*/
.body_que_somos2 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
  padding-left: 50%;
}

.body_que_somos2_1 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
}

/*PACK 3*/
.body_que_somos3 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
  padding-left: 50%;
}

/*PACK 4*/
.body_que_somos4 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
  padding-left: 50%;
}

.body_que_somos4_1 {
  display: inline;
  /*color: black;*/ /*LIGHT MODE*/
  color: #a1a1a6;
}
/*FIN PACK 4*/

.remarkables {
  display: inline;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #0080FF, #00FF6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradientAnimation 3s infinite alternate;
}

.h1_objetivo{
    font-size: 20px;
}

.party{
    display: flex;
    font-size: 20px;
    margin-top: 40px;
    justify-content: center;
    /*background-color: white;*/ /*LIGHT MODE*/
    background-color: black;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.partytext {
  padding-top: 50px;
  font-size: 100px;
  background: linear-gradient(45deg, #0080FF, #00FF6F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradientAnimation 4s infinite alternate;
  transition: top 0.3s;

  /*ANIMACION APARICION TEXTO AL HACER SCROLL*/
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
  height: 500px; /* Altura suficiente para permitir el desplazamiento */
}

.mostrar {
  opacity: 1;
  transform: translateY(0);
}

/*.container_widget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
}

.widget {
  display: flex;
  background: linear-gradient(45deg, #0058B0, #00A447);
  width: 400px;
  height: 400px;
  border-radius: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 1000;
}

.widget1 {

}

.widget2 {

}

.spacer {
  flex-basis: 30px;
}

.h1_widget {
  font-size: 50px;
  width: 500px;
  padding-left: 15%;
}*/

.menu-desplegable {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 400px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    /*background-color: #f8f9fc;*/ /*LIGHT MODE*/
    background-color: #1d1d1f;
    font-size: 20px;
  }
  
  .menu-desplegable a {
    text-decoration: none;
    /*color:black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
    padding: 10px;
    border-bottom: 1px;
  }
  
  .menu-desplegable a:hover {
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
  }

  .contenedor {
    display: flex;
    justify-content: space-around;
  }

  .title_que_somos {
    color: #a1a1a6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    height: 80px;
    width: 1000px;
    padding-left: 35.5%;
    font-size: 70px;
  }
  
  .que_somos {
    margin-right: 520px;
    width: 60%; 
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  .video_row {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
  }

  .objetivo{
    border: 1px solid #ddd;
    padding: 10px;
    width: 50%;
    margin-right: 200px;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
  }

  footer {
    background-color: #1d1d1f;
  }

  .footer_refs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 400px;
    margin-bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    /*background-color: #f8f9fc;*/ /*LIGHT MODE*/
    background-color: #1d1d1f;
    font-size: 15px;
    padding-left: 12%;
  }

  .footer_refs a {
    text-decoration: none;
    /*color:black;*/ /*LIGHT MODE*/
    color: #a1a1a6;
    padding: 10px;
    border-bottom: 1px;
    padding-top: 200px;
  }

  .footer_refs a:hover {
    background: linear-gradient(45deg, #0080FF, #00FF6F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
  }

  .copyright {
    padding-top: 186px;
    color: #a1a1a6;
    padding-right: 60px;
  }

  /* Adjustments for mobile devices and apology message */
.mobile-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: white;
    flex-direction: column; /* Align children in a column */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h1_mobile {
  display: none;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 20px;
  margin-top: 50px;
  font-size: 1.2em;
  color: white;
  text-align: justify;
  background-color: white;
  flex-direction: column; /* Align children in a column */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adjustments for desktop devices and apology message */
.desktop-message {
    display: none;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    padding: 20px;
    margin-top: 50px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
    background-color: white;
    flex-direction: column; /* Align children in a column */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h1_desktop {
  display: none;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 20px;
  margin-top: 50px;
  font-size: 1.2em;
  color: black;
  text-align: justify;
  background-color: white;
  flex-direction: column; /* Align children in a column */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }

    100% {
      background-position: 100% 50%;
    }
}

@keyframes radial-gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 50% 100%;
  }
}

/*Media Query for screens smaller than 1024px (Both Landscape and Portrait) */
@media only screen and (max-width: 1780px) {
    /* Hide main content and display desktop message */
    header, .contenedor, .party, .desktop-message, .video_row, .footer_refs {
        display: none;
    }

    .desktop-message {
        display: flex; /* Show desktop message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Media Query specifically for Mobile Devices */
@media only screen and (max-width: 1780px) and (orientation: portrait) {
    .mobile-message {
        display: flex; /* Show mobile message */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Hide all other content */
    header, .contenedor, .party, .desktop-message, .video_row, .footer_refs {
      display: none;
  }
} 